.signup-container {
    margin-top: 130px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    column-width: 600px;
    padding: 50px;
    background: rgb(228, 225, 225);
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
    border-radius: 25px;
}