.propresult {
    Margin-top: 100px;
}

#bid {
    background-color: #B2D350;
    color: white;
    margin-top: 15px;
    margin-left: 115px;
    border-radius: 30px;
}

.card-image {
    margin-left: 15px;
}

.card {
    width: 400px;
}

.pagination-previous {
    margin-left: 500px;
    color: white;
    background-color: #B2D350;
}

.pagination-next {
    margin-right: 500px;
    color: white;
    background-color: #B2D350;
}