.propresult {
    Margin-top: 100px;
}

.bid {
    background-color: #B2D350;
    color: white;
    margin-top: 15px;
    margin-left: 150px;
    border-radius: 10px;
}

.card-image {
    margin-left: 35px;
}