.page-footer {
    background-color: #19B4DE;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.container-footer {
    background-color: #B2D350;
    padding-top: 1%;
    padding-right: 39.5%;
    padding-left: 39.5%;
    padding-bottom: 1%; 
    color: black;
}


.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
